@{
    LayoutInfo.Theme = "PortalManagerLayout";
    this.ChannelId = QsTech.Core.CoreMenus.GroupManagementHome;
}

<div style="width: 100%;height:250px;font-size:18px;font-weight:700; text-align:center; padding-top:150px;">
  @*  <img src="@Url.Content("Styles/Portal/images/htpic.png", "QsTech.Core")" />*@
</div>
