<?xml version="1.0" encoding="utf-8" ?>
<hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
  <session-factory>
    <!-- Sql Server 2008 -->
    <property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
    <property name="dialect">NHibernate.Dialect.MsSql2008Dialect</property>
    <property name="connection.driver_class">NHibernate.Driver.Sql2008ClientDriver</property>
    <property name="connection.connection_string">Data Source=.;Initial Catalog=SSO;User ID=sa;Password=1qazxcvbnm,./;</property>
    <property name="show_sql">true</property>

  </session-factory>
</hibernate-configuration>