<?xml version="1.0"?>
<configuration>
  <appSettings>

   
   <add key="SsoHost" value="http://www.tradeserving.com:8078" />
     <!--
http://www.tradeserving.com:8078
     <add key="SsoHost" value="http://192.168.64.102:8078" />
    <add key="SsoHost" value="http://localhost:2003" />
http://10.123.1.32:8002
     -->
     <add key="currentApplication" value="http://localhost:2013" />

     <add key="ApplicationId" value="222" />

     <add key="ApplicationSecret" value="222abc" />

    <add key="Title" value="贝发SSO" />
    <add key="BottomDescription" value="COPYRIGHT ©  2013-2014 贝发集团 All Rights Reserved" />
  </appSettings>
</configuration>
